<nav>
  <div class="nav-wrapper black">
    <a class="brand-logo" routerLink="/">Tablica Ogloszen</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/oferty" routerLinkActive="active">Oferty</a></li>
      <li>
        <a routerLink="/categories" routerLinkActive="active">Categories</a>
      </li>
      <li>
        <a routerLink="/chosen/1" routerLinkActive="active">Selected Offers</a>
      </li>
      <li><a routerLink="/add-oferta" routerLinkActive="active">Add Oferta</a></li>
      <li>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="footer">
  <p>Adrian Matyszczak s19850</p>
</div>
